<mat-toolbar color="primary">
  <span>
    <a (click)="reloadPage()" style="cursor: pointer">Im Movin'</a>
  </span>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()" style="color: black">
      <mat-icon>notifications_active</mat-icon>
      Disclaimer
    </button>
    <button mat-menu-item (click)="redirect()" style="color: black">
      <mat-icon>code</mat-icon>
      <span>
        Creator
      </span>
    </button>
  </mat-menu>
</mat-toolbar>

