<mat-card>
  <mat-card-header>
    <mat-card-title>User Info</mat-card-title>
  </mat-card-header>
  <img *ngIf="userInfo.userImage.url" src="{{userInfo.userImage.url}}"
       alt="User Photo"
       style="margin-left: 15px; border-radius: 50px; height: 100px; width: 100px">
  <mat-card-content>
    <mat-list>
      <mat-list-item role="listitem">
        <mat-icon>person</mat-icon>
        <b>Spotify Username : </b> {{userInfo.username}}
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>link</mat-icon>
        <b>External URL : </b> <a href="{{userInfo.externalUrl}}">{{userInfo.externalUrl}}</a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
