mat-icon {
  margin-right: 5px;
}

.card {
  width: 45%;
  margin: 30px auto;
  padding: 25px;
}

.photo {
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 50px;
  height: 100px;
  width: 100px
}
