mat-tab-group {
  margin-left: 50px;
  margin-right: 50px;
}

input[type="file"] {
  visibility: hidden;
}

table {
  width: 100%;
}

.mat-form-field {
  margin-top: 15px;
  font-size: 14px;
  width: 30%;
}
