<app-header></app-header>
<mat-tab-group>
  <mat-tab label="Authorize Im Movin' App on Spotify">
    <mat-card>
      <mat-card-title>
        Im Movin' App needs a permission from your spotify account to modify your library.
      </mat-card-title>
      <mat-card-content>
        <button mat-stroked-button type="button" color="primary" (click)="goToAuthPage()">Give Permission</button>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Export the iTunes Library">
    <mat-card>
      <mat-card-title>
        Im Movin' app helps you to migrate your iTunes library to Spotify
      </mat-card-title>
      <mat-card-content>
        All you need to do is following:
        <ol>
          <li>Open your iTunes</li>
          <li>File > Library > Export Library</li>
          <li>Upload the exported "Library.xml" file to Im Movin' App</li>
        </ol>
      </mat-card-content>
      <button mat-stroked-button type="button" color="primary" (click)="filePicker.click()">Select File</button>
      <input type="file" #filePicker (change)="onFilePicked($event)">

      <button mat-stroked-button color="primary" (click)="health()">Health</button>
    </mat-card>
  </mat-tab>
  <mat-tab label="Tracks in Your Library" [disabled]="!isMediaContentReceived">

  </mat-tab>
</mat-tab-group>


