<app-header></app-header>

<div *ngIf="introPageShowed">
  <img src="assets/image.png" class="banner-image">
  <mat-card class="mat-elevation-z8 intro-card">
    <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>This website transfers your iTunes library to Spotify.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon aria-hidden="true">more_time</mat-icon>
          It takes no more than couple of minutes
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon aria-hidden="true">money_off</mat-icon>
          Free to use
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon aria-hidden="true">person</mat-icon>
          No registration required
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon aria-hidden="true">code</mat-icon>
          <p>An open source project you can
            <a href="https://gitlab.com/atacankullabci/move-my-playlists">check it out</a>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions style="text-align: center">
      <button mat-raised-button color="accent" (click)="start()">START</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-tab-group dynamicHeight (selectedTabChange)="onTabClick($event)" *ngIf="!introPageShowed">
  <mat-tab label="Authorize the App on Spotify">
    <app-user-info *ngIf="isUserValid" [userInfo]="userInfo"></app-user-info>
    <mat-card *ngIf="!isUserValid" class="mat-elevation-z8 card">
      <mat-card-title>
        App needs a permission from your Spotify account to modify your library.
      </mat-card-title>
      <mat-card-actions style="text-align: center">
        <button mat-raised-button type="button" color="accent" (click)="goToAuthPage()">Give Permission</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Import your iTunes Library" [disabled]="!isUserValid">
    <mat-card class="mat-elevation-z8 card">
      <mat-card-title>
        Upload your iTunes library
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item role="listitem">1. Open your iTunes</mat-list-item>
          <mat-list-item role="listitem">2. File > Library > Export Library</mat-list-item>
          <mat-list-item role="listitem">3. Upload the exported "Library.xml" file to the App</mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item role="listitem">
            <mat-checkbox (change)="parseSelections()"
                          [(ngModel)]="playlistOption"
                          matTooltip="Creates a new playlist for each playlist in your iTunes account
                             and imports into your Spotify account"
                          matTooltipHideDelay="200">
              Parse Playlists
            </mat-checkbox>
            <mat-checkbox (change)="parseSelections()"
                          [(ngModel)]="trackOption"
                          style="margin-left: 30px"
                          matTooltip="Parses the Library and saves each track to your Spotify 'Liked Songs' section"
                          matTooltipHideDelay="200">
              Parse Tracks
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-raised-button
                type="button"
                color="accent"
                (click)="filePicker.click()"
                [disabled]="!mediaContentCanBeAdded">
          Upload File
        </button>
      </mat-card-actions>
    </mat-card>
    <input type="file" #filePicker (change)="onFilePicked($event)">
  </mat-tab>
  <mat-tab [disabled]="!isMediaContentReceived">
    <ng-template mat-tab-label>
      <span style="min-width: 10px"
            matBadge="{{contentBadge}}"
            class="stretch-badge"
            matBadgeOverlap="false"
            [matBadgeHidden]="!isMediaContentReceived">Tracks in Your Library</span>
    </ng-template>

    <app-tracks [userId]="userId"></app-tracks>
  </mat-tab>
  <mat-tab [disabled]="!playlistReceived">
    <ng-template mat-tab-label>
      <span style="min-width: 10px"
            matBadge="{{playlistBadge}}"
            class="stretch-badge"
            matBadgeOverlap="false"
            [matBadgeHidden]="playlistBadge === 0">Playlists in Your Library</span>
    </ng-template>
    <app-playlist [userId]="userId"></app-playlist>
  </mat-tab>
</mat-tab-group>

<div class="overlay" *ngIf="showSpinnerOverlay">
  <div class="center">
    <mat-progress-spinner diameter=50
                          mode="indeterminate"
                          color="accent">
    </mat-progress-spinner>
  </div>
</div>
