mat-tab-group {
  margin-left: 50px;
  margin-right: 50px;
}

input[type="file"] {
  visibility: hidden;
}

table {
  width: 100%;
}

.mat-form-field {
  margin-top: 15px;
  font-size: 14px;
  width: 30%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

body {
  margin: 0;
}

/deep/ .mat-tab-label, /deep/ .mat-tab-label-active {
  width: 100%;
  padding: 5px !important;
  margin: 5px !important;
}

.stretch-badge > .mat-badge-content {
  width: auto;
  border-radius: 20px;
  right: unset !important;
}
