<h1 mat-dialog-title>Disclaimer</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>
      This website does not focus on increasing or influencing competition between the two music platforms.
      I, as a creator of this website, am using iTunes music platform for more than 4 years
      and I had no issues with this platform. I just want to try out the Spotify while not wasting
      my time to find and add all the music in my iTunes library.
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
